:root {
  --tab-text-color-focus: rgb(58, 52, 52);
  --tab-text-color: rgb(128, 114, 114);
  --nav-bg-color: rgb(212, 212, 212);
  --tab-bg-color: rgb(202 202 202);
  --tab-bg-color-focus: rgb(245, 245, 245);
  --tab-status-bg-color: rgb(158, 157, 157, 31%);
}

body {
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  height: 35px;
  background-color: var(--nav-bg-color);
}
main {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.tab{
  height: 100%;
  min-width: 80px;
  transition: background-color 0.25s ease;
  background-color: var(--tab-bg-color);
  color: var(--tab-text-color);
  padding: 1px 4px 1px 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.tab-status {
  padding: 2px;
  border-style: hidden;
  border-radius: 5px;
  width: 16px;
  height: 16px;
  text-align: center;
}
.tab-status:hover {
  background: var(--tab-status-bg-color);
  transition: 0.15s ease;
}

.close-file-icon:before {
  content: 'x';
  font-style: normal;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.unsaved-tab .close-file-icon:before { content: '●'; }
.unsaved-tab .close-file-icon:hover:before { content: 'x'; }

.focused-tab {
  background-color: var(--tab-bg-color-focus);
  color: var(--tab-text-color-focus);
}

.unsaved-tab {
  font-style: italic;
}

[theme="dark"] {
  --tab-text-color-focus: white;
  --tab-text-color: rgb(225, 225, 225);
  --nav-bg-color: rgb(122, 122, 122);
  --tab-bg-color: rgb(93, 93, 93);
  --tab-bg-color-focus: rgb(39, 39, 39);
  --tab-status-bg-color: #ffffff36;
}

[theme="light"] {
  --tab-text-color-focus: rgb(58, 52, 52);
  --tab-text-color: rgb(128, 114, 114);
  --nav-bg-color: rgb(212, 212, 212);
  --tab-bg-color: rgb(202 202 202);
  --tab-bg-color-focus: rgb(245, 245, 245);
  --tab-status-bg-color: rgb(158, 157, 157, 31%);
}
